---
import Layout from "../layouts/Layout.astro";
import GraficoPrueba from "../components/grafico";
import Tabla from "../components/Table/Table"
import CuadroR2 from "../components/cuadros/CuadroR2"
import Tabs from "../layouts/Tabs.astro";
import Tab from "../components/tab.astro";
import TabsContent from "../layouts/TabsContent.astro";

import data from "../data/plots/plot_agregado.json"
import r2Data from "../data/cuadros/r2_df.json"
import tablaDesestacionalizada from "../data/cuadros/tabla desestacionalizada.json"



import Collapsible from "../layouts/Collapsible.astro";

import {Content as Texto1} from "../data/textos/index_1.md"
import SuperTable from "../components/Table/SuperTable";
import StaticTable from "../components/StaticTable.astro";
---

<Layout title="Intercambio comercial Argentino" mainHeader="Síntesis">
        <section>
            <Tabs id="tabsSaldo">
                <Tab contentRef="graficoSaldo" defaultTab={true}>Exportaciones, importaciones y saldo comercial</Tab>
                <Tab contentRef="tabla1"> Cuadro </Tab>
            </Tabs>
    
            <TabsContent tabsId="tabsSaldo">
                <div id="graficoSaldo" class="w-full">
                    <GraficoPrueba plotData={data} client:only />
                </div>
                <div id="tabla1" class="hidden w-full overflow-x-auto">
                    <StaticTable tableData={r2Data} tableId="R2" innerTitles={[0,5]} hideIndex={true} roundNumeric={1} rowEmphasis={[1]}/>
                    <!-- <CuadroR2 tableData = {r2Data} client:only /> -->
                    <!-- <SuperTable client:only /> -->
                </div>
            </TabsContent>
    
            <Collapsible sumaryText="Probando">
                <Texto1 class=" text-justify"/>
            </Collapsible>

        </section>
        <section class="mt-10">
            <Tabs id="otrasTabs">
                <Tab contentRef="otraTab1" defaultTab={true}>otra tab</Tab>
                <Tab contentRef="otraTab2">otra tab2</Tab>
            </Tabs>
    
            <TabsContent tabsId="otrasTabs">
                <div id="otraTab1" class=" overflow-x-auto">
                    <StaticTable tableData={tablaDesestacionalizada} tableId="tablaDes" hideIndex={false} roundNumeric={1}/>
                </div>
                <div id="otraTab2" class="bg-cyan-200 w-40 h-40 m-auto hidden">
                </div>
            </TabsContent>
        </section>
</Layout>
