---
import Layout from "../layouts/Layout.astro";
import Grafico from "../components/Grafico";
import Tabs from "../layouts/Tabs.astro";
import Tab from "../components/tab.astro";
import TabsContent from "../layouts/TabsContent.astro";

import data from "../data/plots/plot_agregado.json";
import r2Data from "../data/cuadros/r2_df.json";
import c2Expo from "../data/cuadros/c2_expo.json";
import c2Impo from "../data/cuadros/c2_impo.json";

import Collapsible from "../layouts/Collapsible.astro";

import { Content as Texto1 } from "../data/textos/index_1.md";
import { Content as Texto2 } from "../data/textos/index_2.md";
import StaticTable from "../components/tables/StaticTable.astro";
import MainDashborad from "../components/mainDashboard/MainDashborad.astro";
---

<Layout title="Intercambio comercial Argentino" mainHeader="Síntesis">
    <section>
        <MainDashborad />
    </section>
    <section>
        <Collapsible sumaryText="Síntesis de los resultados">
            <Texto1 />
        </Collapsible>
        <Tabs id="tabsSaldo">
            <Tab contentRef="graficoSaldo" defaultTab={true}
                >Exportaciones, importaciones y saldo comercial</Tab
            >
            <Tab contentRef="tabla1">Principales indicadores</Tab>
        </Tabs>

        <TabsContent tabsId="tabsSaldo">
            <div id="graficoSaldo" class="w-full">
                <Grafico plotAndTitleData={data} client:only="react" />
            </div>
            <div id="tabla1" class="hidden w-full overflow-x-auto">
                <StaticTable
                    tableData={r2Data}
                    tableId="R2"
                    innerTitles={[0, 5]}
                    hideIndex={true}
                    roundNumeric={1}
                    rowEmphasis={[1]}
                />
                <!-- <CuadroR2 tableData = {r2Data} client:only="react" /> -->
                <!-- <SuperTable client:only="react" /> -->
            </div>
        </TabsContent>
    </section>
    <section class="mt-10">
        <h3 class="text-3xl font-semibold my-4">
            Índices de valores, precios y cantidades y efecto de los términos
            del intercambio de octubre de 2022
        </h3>
        <Tabs id="otrasTabs">
            <Tab contentRef="otraTab1" defaultTab={true}>Exportaciones</Tab>
            <Tab contentRef="otraTab2">Importaciones</Tab>
        </Tabs>
        <TabsContent tabsId="otrasTabs">
            <div id="otraTab1" class="overflow-x-auto w-full">
                <StaticTable
                    tableData={c2Expo}
                    tableId="c2Expo"
                    roundNumeric={1}
                />
            </div>
            <div id="otraTab2" class="overflow-x-auto hidden w-full">
                <StaticTable
                    tableData={c2Impo}
                    tableId="c2Impo"
                    roundNumeric={1}
                />
            </div>
        </TabsContent>
        <Collapsible sumaryText="Análisis">
            <Texto2 />
        </Collapsible>
    </section>
</Layout>
