---
import Layout from "../layouts/Layout.astro";
import GraficoPrueba from "../components/grafico";
import Tabla from "../components/Table/Table"
import CuadroR2 from "../components/cuadros/CuadroR2"
import Tabs from "../layouts/Tabs.astro";
import Tab from "../components/tab.astro";
import TabsContent from "../layouts/TabsContent.astro";

import data from "../data/plots/plot_agregado.json"
import r2Data from "../data/cuadros/r2_df.json"
import Collapsible from "../layouts/Collapsible.astro";

import {Content as Texto1} from "../data/textos/index_1.md"
import SuperTable from "../components/Table/SuperTable";
import StaticTable from "../components/StaticTable.astro";
---

<Layout title="Intercambio comercial Argentino">
        <section>
            <Tabs id="testPlot">
                <Tab contentRef="grafico1" defaultTab={true}>Gráfico de prueba</Tab>
                <Tab contentRef="tabla1"> Cuadro </Tab>
            </Tabs>
    
            <TabsContent tabsId="testPlot">
                <div id="grafico1">
                    <GraficoPrueba plotData={data} client:only />
                </div>
                <div id="tabla1" class="hidden">
                    <StaticTable tableData={r2Data} tableId="R2" innerTitles={[0,5]} hideIndex={true}/>
                    <!-- <CuadroR2 tableData = {r2Data} client:only /> -->
                    <!-- <SuperTable client:only /> -->
                </div>
            </TabsContent>
    
            <Collapsible sumaryText="Probando">
                <Texto1 class=" text-justify"/>
            </Collapsible>

        </section>
        <section class="mt-10">
            <Tabs id="otrasTabs">
                <Tab contentRef="otraTab1" defaultTab={true}>otra tab</Tab>
                <Tab contentRef="otraTab2">otra tab2</Tab>
            </Tabs>
    
            <TabsContent tabsId="otrasTabs">
                <div id="otraTab1" class="bg-red-200 h-40 w-40 m-auto"></div>
                <div id="otraTab2" class="bg-cyan-200 w-40 h-40 m-auto hidden">
                </div>
            </TabsContent>
        </section>
</Layout>
