---

export interface Props{
    tableData: {
        data: Array<any>,
        schema: {
            fields: Array<{name:string, type:string}>
        }
    },
    tableId: string,
    hideIndex?: boolean,
    innerTitles?: Array<number>|null
}
let {tableData:{schema:{fields}, data}} = Astro.props;
const {tableId, hideIndex= true, innerTitles=null} = Astro.props;

if(hideIndex){
    fields = fields.slice(1);
    data = data.map(o=>{
        let {index, ...rest} = o;
        return rest
    })
}

const stripedTable = (index: number) => `${index%2===0?"bg-gray-100":"bg-gray-200"} hover:bg-gray-300`;
const innerTitlesLogic = (index: number) => {
    if(hideIndex && index ===0) return true;
    if(!hideIndex && (index===1)) return true;
    return false;
}

// components with style


---




<table id= {tableId} class="mt-2" >
    <thead>
        <tr class="text-center bg-gray-200">
            {
            fields.map((field, i) => (
                <th>{field.name}</th>
            ))}
        </tr>
    </thead>
    <tbody>
        {data.map((row,i) => (
            <tr class:list={stripedTable(i)}>
                {Object.values(row).map((cell, colNumber) => (
                    <>
                    {innerTitles && innerTitles.includes(i)?
                    innerTitlesLogic(colNumber)?<th colspan={`${Object.values(row).length}`}>{cell}</th>:null
                    :
                    <td>{cell}</td>}
                    </>
                ))}
            </tr>
        ))}
    </tbody>
</table>


